body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
    color: black;
}

header {
    text-align: center;
}

nav > a {
    padding: 0px 10px;
    background-color: gold;
}

#featured-property {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#featured-property > p {
    margin: auto;
    width: 800px;
}

.main_image {
    align-self: auto;
    width: 800px;
}

figcaption {
    font-size: 12px;
}

#details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    background-color: blueviolet;
}